@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-oswald: var(--font-oswald);
  --font-dm-sans: var(--font-dm-sans);
  --font-nunito-sans: var(--font-nunito-sans);
  --font-bebas-neue: var(--font-bebas-neue);
  --font-roboto: var(--font-roboto);
  --font-lato: var(--font-lato);
  --font-ubuntu: var(--font-ubuntu);

  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);

  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);

  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);

  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);

  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);

  --color-primary-background: var(--primary-background);
  --color-secondary-background: var(--secondary-background);
  --color-tertiary-background: var(--tertiary-background);

  --color-primary-text: var(--primary-text);
  --color-secondary-text: var(--secondary-text);

  --color-primary-button-background: var(--primary-button-background);
  --color-primary-button-foreground: var(--primary-button-foreground);
  --color-secondary-button-background: var(--secondary-button-background);
  --color-secondary-button-foreground: var(--secondary-button-foreground);

  --color-accent-primary: var(--accent-primary);
  --color-accent-secondary: var(--accent-secondary);
  --color-accent-tertiary: var(--accent-tertiary);

  --color-input-background: var(--input-background);
  --color-input-foreground: var(--input-foreground);

  --color-highlight: var(--highlight);
  --color-highlight-light: var(--highlight-light);
  --color-highlight-semilight: var(--highlight-semilight);

  --color-light-background: var(--light-background);
  --color-light-background-dark: var(--light-background-dark);
  --color-light-background-light: var(--light-background-light);

  --color-sonner-foreground: var(--sonner-foreground);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  /* --- Core Radii --- */
  --radius: 0.65rem;

  /* --- Backgrounds --- */
  --background: #242424;
  --foreground: #242424;
  --card: #242424;
  --card-foreground: rgb(9, 9, 11);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(99.336% 0.00316 15.246);

  /* --- Thematic Layers --- */
  --primary-background: oklch(17.764% 0.00002 271.152);
  --secondary-background: #242424;
  --tertiary-background: #1a1a1a;

  /* --- Text Colors --- */
  --primary-text: #D1D5DB;
  --secondary-text: #f5f5f5;

  /* --- Buttons --- */
  --primary-button-background: #3f3f3f;
  --primary-button-foreground: #ffffff;
  --secondary-button-background: #ffffff;
  --secondary-button-foreground: #242424;

  /* --- Accents & Highlights --- */
  --highlight: #404040;
  --highlight-light: #f5f5f5;
  --highlight-semilight: #b8b8b8;
  --accent-primary: #bdd61a;
  --accent-secondary: #d6a11a;
  --accent-tertiary: #ffbf00;

  /* --- Input --- */
  --input-background: #2a2a2a;
  --input-foreground: #ffffff;

  /* --- System --- */
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.92 0.004 286.32);
  --input: #242424;
  --ring: oklch(100% 0.00011 271.152);

  /* --- Charts --- */
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);

  /* --- Sidebar --- */
  --sidebar: var(--primary-background);
  --sidebar-foreground: oklch(100% 0.00011 271.152);
  --sidebar-primary: oklch(0.637 0.237 25.331);
  --sidebar-primary-foreground: oklch(0.971 0.013 17.38);
  --sidebar-accent: oklch(0.967 0.001 286.375);
  --sidebar-accent-foreground: oklch(100% 0.00011 271.152);
  --sidebar-border: oklch(0.92 0.004 286.32);
  --sidebar-ring: oklch(100% 0.00011 271.152);

  /* --- Light Variants --- */
  --light-background: #1e1d1d;
  --light-background-dark: #555;
  --light-background-light: #403f3f;

  --sonner-foreground: oklch(0% 0 0);
}

.dark {
  --background: oklch(0% 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0% 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.21 0.006 285.885);
  --popover-foreground: oklch(0% 0 0);
  --primary: oklch(100% 0.00011 271.152);
  --primary-foreground: oklch(0.971 0.013 17.38);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --accent: #242424;
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.637 0.237 25.331);

  /* Charts */
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);

  /* Sidebar */
  --sidebar: oklch(0.21 0.006 285.885);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.637 0.237 25.331);
  --sidebar-primary-foreground: oklch(0.971 0.013 17.38);
  --sidebar-accent: oklch(0.274 0.006 286.033);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.637 0.237 25.331);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}
